{% extends 'base.html' %}

{% block content %}
<form class="form">
    <div class="input-group">
        <input type="text" class="form-control rounded" placeholder="Keyword" name="keyword" aria-label="Search"
            aria-describedby="search-addon" value="{{ keyword | default:'' }}"/>
        <input type="submit" value="Search" class="btn btn-outline-primary">
    </div>
</form>

<table class="table">
    <thead>
        <th>Code</th>
        <th>Name</th>
        <th>Address</th>
        <th>Department</th>
        <th>
            <a href="{% url 'create' %}" class="btn btn-success">Create</a>
        </th>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td>{{ student.code }}</td>
            <td>{{ student.name }}</td>
            <td>{{ student.address }}</td>
            <td>{{ student.department }}</td>
            <td>
                <a href="{% url 'detail' student.id %}" class="btn btn-info">View</a>
                <a href="{% url 'update' student.id %}" class="btn btn-warning">Update</a>
                <a href="{% url 'delete' student.id %}" class="btn btn-danger">Delete</a>
            </td>
        {% endfor %}
    </tbody>
</table>
{% endblock %}